<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medical Emergency</title>
    <link rel="stylesheet" href="styles/medical.css">
</head>
<body>
    <header>
        <%- include("./partials/header.ejs") %>
    </header>
    <h2>List of Doctors</h2>
        <div>
            <% if(doctor.length > 0){ %>
                <table>
                    <tr>
                        <td>Name</td>
                        <td>Mobile Number</td>
                        <td>Id Number</td>
                    </tr>
                    <% for(let i=0;i<doctor.length;i++){ %>
                        <tr>
                            <td><%= doctor[i].name %></td>
                            <td>+<%= doctor[i].mobileNumber %></td>
                            <td><%= doctor[i].idNumber %></td>
                        </tr>
                        <% } %>
                </table>
                <% }else{ %>
                    <p>Sorry. Currently no doctors are available</p>
                    <% } %>
        </div>
    <h2>List of TTR</h2>
        <div>
            <% if(ttr.length > 0){ %>
                <table>
                    <tr>
                        <td>Name</td>
                        <td>Mobile Number</td>
                        <td>Id Number</td>
                    </tr>
                    <% for(let i=0;i<ttr.length;i++){ %>
                        <tr>
                            <td><%= ttr[i].name %></td>
                            <td>+<%= ttr[i].mobileNumber %></td>
                            <td><%= ttr[i].idNumber %></td>
                        </tr>
                        <% } %>
                </table>
                <% }else{ %>
                    <p>Sorry. Currently no ttr are available</p>
                    <% } %>
        </div>
        <h2>List of Police</h2>
            <div>
                <% if(police.length > 0){ %>
                    <table>
                        <tr>
                            <td>Name</td>
                            <td>Mobile Number</td>
                            <td>Id Number</td>
                        </tr>
                        <% for(let i=0;i<police.length;i++){ %>
                            <tr>
                                <td><%= police[i].name %></td>
                                <td>+<%= police[i].mobileNumber %></td>
                                <td><%= police[i].idNumber %></td>
                            </tr>
                            <% } %>
                    </table>
                    <% }else{ %>
                        <p>Sorry. Currently no police are available</p>
                        <% } %>
            </div>
        <br><br>

    


    <footer>
        <%- include("./partials/footer.ejs") %>
    </footer>
</body>
</html>